/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio,video{
	border:0;
	font-size:100%;
	font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft Yahei",sans-serif,arial;
	vertical-align:baseline;
	margin:0;
	padding:0;
	font-weight: normal;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
	display:block;
}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

.seo-text{
	text-indent: -9999em;
	line-height: 0;
	font-size: 0;
	height: 0;
	color: transparent;
	opacity: 0;
	filter: alpha(opacity=0);
}

body{
	color: #646464;
	background-color: #d21a34;
	font-size: 14px;
	line-height: 1.5;
}
.left{float:left;}
.right{float:right;}
.wrap{
	width:100%;
	position:relative;
	clear:both;
}
.wrap-inner{
	width:1200px;
	height: 100%;
	margin:0 auto;
	clear:both;
	position:relative;
}
.wrap-inner:after{
	content:'';
	visibility:hidden;
	display:block;
	height:0;
	clear:both;
}
.logo{
	width:260px;
	height:60px;
	display:inline;
	float:left;
	text-indent:-9999em;
	background-image:url(../images/logo.png);
	margin-left: 105px;
	margin-top: 20px;
}
.c-important{
	color: #ffdd2e!important;
}
/* button */
.button{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width: 160px;
	height: 48px;
	line-height: 48px;
	background: url(../images/button.png) no-repeat;
	color: #b9001a;
	text-shadow: 1px 0 1px rgba(255,255,255,.3);
	font-size: 16px;
	text-align: center;
	text-decoration: none;
}
#head{
	height: 578px;
	background: #482a99 url(../images/body.jpg) center top no-repeat; 
}
#head .event-date{
	position: absolute;
	left: 110px;
	top: 370px;
	color: #ffda00;
	font-size: 20px;
	text-shadow: 1px 1px 2px rgba(147, 3, 159, 0.75);
}
#head .check-record{
	position: absolute;
	left: 110px;
	top: 410px;
	z-index: 100;
}
.check-record .disabled{
	cursor: default;
	background-image: url(../images/button-disabled.png);
	color: #333;
}
#top .wrap-inner{
	background: #d21a34 url(../images/bg-1.jpg) center top no-repeat; 
}
#top h2:before,
.event-tabs li a:before{
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	content: '';
	margin-bottom: 4px;
}
#top .prize-pool h2:before{background-position: 0 0;}
#top .event-tabs h2:before{background-position: 0 -30px;}
#top .event-tabs .tabs1 a:before{background-position: 0 -60px;}
#top .event-tabs .tabs2 a:before{background-position: -30px -90px;}
#top h2{
	color: #ffde73;
	font-size: 20px;
	font-weight: normal;
	line-height: 50px;
	text-align: center;
	font-weight: 200;
}
.gold-box{
	width: 690px;
	height: 270px;
	background: url(../images/gold-box.png) no-repeat;
	position: absolute;
	left: 227px;
	top: -182px;
}
.gold-box-empty{
	background-image: url(../images/gold-box-empty.png);
}
.prize-pool{
	width: 300px;
	padding-top: 85px;
	text-align: center;
	margin: 0 auto;
}
.prize-pool p{
	padding-top: 16px;
	color: #fff;
	font-size: 36px;
	line-height: 50px;
	letter-spacing: 4px;
	font-weight: 100;
}
.event-tabs{
	padding-top: 36px;
}
.event-tabs ul{
	width: 100%;
	height: 47px;
	border-bottom: 1px solid #f2c123;
	text-align: center;
}
.event-tabs li{
	width: 206px;
	height: 47px;
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.event-tabs li a{
	display: block;
	width: 100%;
	height: 57px;
	background-image: url(../images/tabs.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-align: center;
	font-size: 18px;
	color: #f2c123;
	line-height: 48px;
	text-decoration: none;
}
.event-tabs .tabs1 a{
	background-position: 0 -60px;
	color: #d51732;
}
.tabs-cont{
	padding-top: 15px;
	color: #fff;
	padding-left: 200px;
	min-height: 110px;
	_height: auto;
}
.tabs-cont label{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
}
.tabs-cont small{
	font-size: 12px;
}
.step1,.step2,.step4{
	padding-left: 193px;
}
.step1 .row{
	font-size: 14px;
	color: #ffc300;
	margin-top: 15px;
}
.step2 .row,
.step3 .row{
	font-size: 16px;
	color: #fff;
	margin-bottom: 15px;
}
.step2 strong,
.step3 strong{
	font-weight: 200;
	font-size: 36px;
	color: #ffdd2e;
	padding-right: 5px;
}
.step2 .button,
.step2 small{
	margin-left: 10px;
}
.step3 .row{
	margin-bottom: 25px;
}
.step3 div.row
.progress{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 600px;
	height: 24px;
	border: 1px solid #ffdd2e;
	position: relative;
}
.progress .p-bg{
	background-color: #ffdd2e;
	width: 20%;
	height: 100%;
	position: relative;
}
.progress .p-bg:after{

}
.progress span.tag{
	position: absolute;
	font-weight: 200;
	font-size: 12px;
	width: 40px;
	margin-left: -20px;
	text-align: center;
	background-color: #ffdd2e;
	top: -25px;
	color: #d21a34;
	border-radius: 3px;
}
.progress .tag-6{left: 12.5%;}
.progress .tag-12{left: 25%;}
.progress .tag-18{left: 37.5%;}
.progress .tag-28{left: 58.333%;}
.progress .tag-48{left: 100%;}
.progress .tag:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 18px;
	width: 0;
	height: 7px;
	border-left: 1px solid #ffdd2e;
}
.progress p{
	margin-top: 15px;
}
.step4{
	width: 290px;
	text-align: left;
	padding: 15px 0;
}
.step4 p{
	margin: 10px 0;
}
.step4 a{
	display: block;
	width: 142px;
	height: 36px;
	line-height: 36px;
	background: #ffc300;
	color: #d21a34;
	margin: 0 auto;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
}

.close-board,
.start-board{
	width: 74px;
	height: 64px;
	margin: 0 auto;
	background: url(../images/close-board.png) no-repeat;
}
.start-board{background-image: url(../images/start-board.png);}

#content{
	width: 1200px;
	margin: 0 auto;
	background: url(../images/cont-repeat-bg.jpg) center top repeat-y;
}
#content .wrap-inner{
	background: url(../images/cont-top-bg.jpg) center top no-repeat;
	padding-top: 50px;
}
#content .content{
	background: url(../images/cont-bt-bg.jpg) center bottom no-repeat;
	padding: 0 50px 80px;
}
.content h2{
	font-size: 24px;
	color: #ec010c;
	text-align: center;
	line-height: 60px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f5decb;
	box-shadow: 0px 1px 0px #fff;
}
.content h2:before{
	content: '';
	width: 60px;
	height: 32px;
	background: url(../images/title-icon.png) no-repeat;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin-right: 5px;
}
.condition{
	padding-bottom: 60px;
}
.condition-desc{
	text-align: center;
	font-size: 16px;
	color: #646464;
	line-height: 28px;
	padding-bottom: 30px;
}
.condition-list{
	text-align: center;
	width: 110%;
	margin-left: -5%;
}
.condition-list li{
	width: 218px;
	height: 252px;
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 5px;
}
.condition-list li div{
	width: 100%;
	height: 100%;
	background: url(../images/condition.png) -252px 0 no-repeat;
	position: absolute;
	left: 0;
	top: 0;
}
.condition-list li .flip-back{background-position: 0 0;}
/* 分别设置前后两个类的背景图像，垂直位置 */
.flip .flip-front{z-index: 1;}
.flip .flip-back{z-index: 2;}
.flip{ perspective: 1000px;}
/* 前后两个类的共同样式 */
.flip div{ 
	transition: all 1s ease; 
	transform-style: preserve-3d; 
	backface-visibility: hidden;
}
/* hover之后的垂直位置 */
.flip:hover .flip-front{ z-index: 2;}
.flip:hover .flip-back{ z-index: 1;}
/* rotateY的响应 */
.flip-y .flip-back{ transform:rotateY(180deg);}
.flip-y:hover .flip-front{ transform:rotateY(180deg);}
.flip-y:hover .flip-back{ transform:rotateY(0deg);}
/* rotateX的响应 */
.flip-x .flip-back{ transform:rotateX(180deg);}
.flip-x:hover .flip-front{ transform:rotateX(180deg);}
.flip-x:hover .flip-back{ transform:rotateX(0deg);}

.condition-list .multiple,
.condition-list .profit{
	position: absolute;
	left: 0;
	text-align: center;
	width: 100%;
}
.condition-list .multiple{
	top: 10px;
	font-size: 18px;
	color: #f10011;
	line-height: 30px;
	font-weight: 100;
	letter-spacing: 2px;
}
.condition-list .multiple strong{
	font-size: 24px;
	font-weight: 300;
}
.condition-list .profit{
	color: #ffd800;
	font-size: 30px;
	top: 120px;
	font-weight: 100;
	letter-spacing: 2px;
}
.condition-list dl{
	padding: 25px 20px 0;
	text-align: left;
}
.condition-list dt{
	font-size: 14px;
	font-weight: 400;
	color: #ee0006;
	line-height: 30px;
}
.condition-list dd{
	font-size: 12px;
	color: #666;
	line-height: 18px;
	padding-bottom: 10px;
}

.method{}
.method h3{
	font-size: 18px;
	color: #ee0006;
	font-weight: 400;
	line-height: 50px;
}
.flow{
	padding-right: 30px;
}
.flow ul{
	/*padding-left: 30px;*/
	background: url(../images/flow.png) left center no-repeat;
	width: 530px;
	height: 110px;
}
.flow li{
	width: 110px;
	padding-right: 66px;
	text-align: center;
	padding-top: 60px;
	float: left;
	color: #c35c10;
	font-size: 12px;
}
.flow li strong{
	display: block;
	font-weight: 100;
	text-align: center;
	margin: 0 auto;
	line-height: 26px;
	font-size: 14px;
}
.flow-info{
	padding-top: 25px;
}
.flow-info p{
	line-height: 28px;
	font-size: 14px;
	color: #333;
	margin-bottom: 15px;
}
.flow-info .note{
	font-size: 12px;
	color: #ef0011;
	line-height: 24px;
}
.rule{
	clear: both;
}
.rule li{
	color: #333;
	line-height: 28px;
	font-size: 12px;
}
.rule li:before{
	content: '•';
	color: #d21a34;
	padding: 0 6px;
}

.prize-bg{
	width: 190px;
	height: 200px;
	position: absolute;
	right: -70px;
	bottom: -30px;
	background: url(../images/present.png) no-repeat;
}

#footer{
	background-color:#32343a;
	padding:18px 0;
	color:#aeafb3;
	margin-top: 80px;
}
#footer .logo{
	position:static;
	width:290px;
	height:80px;
	background-image:url(../images/foot-logo.png);
	margin:0;
}
#footer .ft-cont{
	line-height:26px;
	text-align:right;
	padding-top: 12px;
}

.dialog{
	width: 680px;
	height: 400px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -340px;
	margin-top: -200px;
	border-radius: 5px;
	background: #f0f0f0;
	color: #333;
	box-shadow: 2px 2px 2px #be2121;
	z-index: 99;
	font-size: 12px;
	display: none;
}

.dialog .close{
	position: absolute;
	display: block;
	top: 5px;
	right: 5px;
	width: 30px;
	cursor: pointer;
	color: #999;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
}
.dialog .close:hover{
	color: #b01212;
}

.dialog-body{
	padding: 15px;
}
.dialog-body p{
	line-height: 30px;
}
.dialog-body .c-important{
	color: #e90021!important;
}
.dialog-body h2{
	font-size: 14px;
	color: #333;
	font-weight: normal;
	text-align: left;
}

.dialog-table{
	width: 100%;
}
.dialog-table th,
.dialog-table td{
	color: #333;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	white-space: nowrap;
	border: 1px solid #cbcbcb;
}
.dialog-table th{
	background-color: #ddd;
	border-color: #ddd;
}
.dialog-table td{
}

.dialog .btn{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 96px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	background-color: #d8001f;
	cursor: pointer;
	text-decoration: none;
	margin: 0 auto;
}
.dialog .link-btn{
	color: #ffde00;
}

.dialog-foot{
	padding: 0 15px 10px;
	text-align: center;
}

.dialog-foot p{
	float: right;
	margin-top: 15px;
}

.dialog-foot a{
	color: #5c8ae6;
}
.dialog-foot .dialog-info{
	padding: 0 90px;
}
.dialog-foot ol{
	font-size: 12px;
	list-style: decimal;
	margin-left: 16px;
	margin-top: 6px;
}

#record h2{
	margin-bottom: 10px;
}
#record .cont{
	height: 258px;
	overflow-y: auto;
	margin-top: 10px;
}
#event-board{
	width: 280px;
	height: 220px;
	margin-left: -140px;
	margin-top: -110px;
}
#event-board .dialog-body{
	text-align: center;
}
#event-board p{
	margin-top: 15px;
	font-size: 14px;
	line-height: 24px;
}
#event-board p small{
	font-size: 12px;
	color: #666;
}


.overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .4;
	filter: alpha(opacity=40);
	z-index: 98;
	display: none;
}
/* call center */
.call-center{position:fixed;right:0;top:50%;margin-top:-60px;z-index:15;}
.call-center a{display:block;width:60px;height:60px;background-repeat:no-repeat;background-image:url(../images/call-center.png);text-indent:-9999em;cursor:pointer;}
.call-center .kf53{background-position:0 0;border-radius:3px 0 0 0;}
.call-center .kf53:hover{background-position:-60px 0;}
.call-center .qqkf{background-position:0 -60px;border-radius:0 0 0 3px;}
.call-center .qqkf:hover{background-position:-60px -60px;}