
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;font-size:12px;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:none;}
ul {list-style:none;}

body {background:#DD5501;}
.clearfix:after{content:".";display:block;height:0;clear:both;overflow:hidden;}
.clearfix{*zoom:1;}
a { text-decoration:none;}

.warper {width:1000px;margin:0 auto;}

.top-header {width:100%;height:56px;background:#FFF;position:fixed;top:0;z-index:100;
box-shadow: 0 0 10px 0 #999;
}
.top-header .left {float:left;}
.top-header .right {float:right;}

.top-header .user .sj-ico {display:inline-block;width:14px;height:14px;background:url(sj-ico.gif) no-repeat;position:relative;top:-12px;
transition: 0.3s ease-in;
}
.top-header .user .user-ico {display:inline-block;width:39px;height:39px;background:url(user-ico.gif) no-repeat;margin:10px 0 0 0;}
.top-header .user-gift {display:inline-block;width:100px;height:28px;background:url(user-gift.gif) no-repeat;position:relative;top:-5px;right:10px;}
.top-header .user-gift:hover {background-position:0 -28px;}
.top-header .user-menu {position:relative;}
.top-header .user-menu:hover .sj-ico {
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}
.top-header .user-info {position:absolute;width:330px;background:#FFF;left:-118px;top:27px;display:none;
box-shadow: 0 0 5px 0 #333;
}
.top-header .user-info .sj-deep {position:absolute;width:19px;height:9px;background:url(sj-deep.gif) no-repeat;top:-9px;left:50%;margin-left:-10px;}
.top-header .user-info .title {height:38px;line-height:38px;background:#413B48;padding:0 20px;position:relative;}
.top-header .user-info .title .text1 {color:#FFF;font-size:14px;}
.top-header .user-info .title .text2 {color:#ffef93;position:absolute;right:20px;top:0;}
.top-header .user-info .acount {height:49px;line-height:49px;border-bottom:1px solid #E2DDD3;margin:0 20px;position:relative;}
.top-header .user-info .acount .num {font-size:24px; font-family:Verdana;}
.top-header .user-info .acount .button-recharge {display:inline-block;width:66px;height:33px;background:url(button-recharge.png) no-repeat;text-indent:-10000px;position:absolute;right:0;top:10px;}
.top-header .user-info .acount .button-recharge:hover {background-position:0 -33px;}
.top-header .user-info .times {padding:0 20px;position:relative;height:80px;}
.top-header .user-info .times .text {height:32px;line-height:32px;font-size:14px;}
.top-header .user-info .times .times-num .num {font-size:24px;color:#c15097;}
.top-header .user-info .times .button-getmore {display:inline-block;width:169px;height:33px;background:url(button-more.png?v1) no-repeat;text-indent:-10000px;position:absolute;right:20px;}
.top-header .user-info .times .button-getmore:hover {background-position:0 -33px;}
.top-header .user-info .login-reg {text-align:center;padding:20px 0;}
.top-header .user-info .login-reg .button {display:inline-block;padding:10px 20px;margin:0 5px;background:#C7284A;color:#FFF;
border-radius:3px;
}
.top-header .user-info .login-reg .button:hover {background:#D7385A;}




.part {height:200px;background:url(1.jpg) no-repeat center 0;}
.part-2 {background-image:url(2.jpg);}
.part-3 {background-image:url(3.jpg);}
.part-4 {background-image:url(4.jpg);}
.part-5 {height:195px;background-image:url(5.jpg);}






.footer {background:#FFF;font-family:microsoft yahei;}
.footer-bg {height:105px;background:url(footer-bg.gif) no-repeat;}
.footer .cell{ float:left; padding-top:20px; width:210px; font-size:14px;}
.footer .cell-a{ padding-left:25px;}
.footer .footer-cont{padding-top:20px; float:right;text-align:right;}
.footer .footer-cont .foot-link{height:20px; line-height:20px;color:#cacaca;}
.footer .footer-cont .foot-link a { color:#585757; text-decoration:none;}
.footer .footer-cont .foot-link a:hover {color:#8e846b;}
.footer .footer-cont .copy{height:30px; line-height:30px;color:#9e9e9e;}
.footer .footer-cont .copy font{color:#b8af9b; font-size:12px;}
.footer .footer-cont .foot-warning { color:#64646c;}






















