

/** 玩法分类区域针对具体玩法类别的个性化宽度设置 **/
/*.play-select-title .gametypes-menu-sanma .content  {width:420px;}
.play-select-title .gametypes-menu-budingwei .content  {width: 245px;left: 0;}
.play-select-title .gametypes-menu-quweixing .content  {width: 300px;}
.play-select-title .gametypes-menu-dingweidan .content {width: 369px;}
.play-select-title .gametypes-menu-renxuanfushi .content  {width: 420px;left:-125px;}
.play-select-title .gametypes-menu-renxuanfushi .types-node-renxuanfushi {height: 70px;}
.play-select-title .gametypes-menu-renxuandanshi .content  {width: 420px;left:-198px;}
.play-select-title .gametypes-menu-renxuandanshi .types-node-renxuandanshi {height: 70px;}
.play-select-title .gametypes-menu-renxuandantuo .content  {width: 420px;left:-271px;}
.play-select-title .gametypes-menu-renxuandantuo .types-node-renxuandantuo {height: 70px;}*/








