body{
	background: #ededed;
}
.logo{background-image:url(logo.png);}
.wrap-inner{
	width: 1200px;
}
#header{
	height: 330px;
	box-shadow: none;
	background: #ededed url(bg.jpg) center top no-repeat;
}
#header .nav{
	height: 30px;
	padding: 15px 0;
	float: right;
	line-height: 30px;
	color: #fff;
}
#header .nav a{
	margin: 0 5px;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
}

.hidden{display: none;}

.content{
	width: 530px;
	margin: 0 auto;
	background-color: #fff;
	top: -79px;
	position: relative;
	z-index: 20;
	border-radius: 5px;
	min-height: 340px;
	_height: auto;
}

.login-box{
	width: 364px;
	margin: 0 auto;
	position: relative;
	padding: 10px 84px 30px;
	background-color: #fff;
	border-radius: 5px;
	z-index: 10;
}
.login-box h2{
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	padding: 20px 0;
	line-height: 40px;
	color: #666;
	letter-spacing: 4px;
}

.form-ul{}
.form-ul li{
	padding-bottom: 20px;
	clear: both;
	position: relative;
}
.form-ul .input{
	width: 300px;
	height: 16px;
	line-height: 16px;
	padding: 12px 10px 12px 50px;
	background-color: #f5f7f9;
	border: 1px solid #dce0e3;
	border-radius: 5px;
	color: #999;
	font-size: 14px;
}
.form-ul .input:focus{
	border-color: #ccc;
	color: #777;
	outline: none;
	box-shadow: none;
}
.input-icon{
	position: absolute;
	left: 5px;
	top: 1px;
	width: 40px;
	height: 40px;
	background-image: url(input-icons.png);
	background-repeat: no-repeat;
}
.username-li .input-icon{ background-position: 0 0;}
.password-li .input-icon{ background-position: 0 -40px;}
.captcha-li .input-icon { background-position: 0 -80px;}
.captcha-li .input{
	width: 100px;
}
.captcha-li a{	
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	line-height: 40px;
	color: #ff4200;
	cursor: pointer;
	margin-left: 10px;
}
.captcha-li .verify{
	width: 105px;
	height: 30px;
	position: relative;
	overflow: hidden;
	background-color: #a2a7ad;
}
.option-li{
	text-align: right;
	line-height: 22px;
	margin-top: -10px;
	padding-bottom: 10px!important;
}

.button-li{}
.button-li button{
	width: 100%;
	line-height: 40px;
	background-color: #0eb9c4;
	border: none;
	color: #fefefe;
	font-size: 14px;
	letter-spacing: 5px;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
}
.button-li button:active{
	box-shadow: inset 1px 2px 6px rgba(19,115,100,0.5);
}
.button-li button:hover{
	background-color: #10c9d5;
}

.monkey{
	position: absolute;
	left: 50%;
	margin-left: -110px;
	top: -140px;
	width: 220px;
	height: 200px;
	z-index: 5;
	background: url(monkey.png) center top no-repeat;
}
/* eye */
@-webkit-keyframes eyeup {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-75deg); }
}
@keyframes eyeup{
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(-75deg); }
}
@-webkit-keyframes eyedown {
	0%   { -webkit-transform: rotate(-75deg); }
	100% { -webkit-transform: rotate(0deg); }
}
@keyframes eyedown{
	0%   { transform: rotate(-75deg); }
	100% { transform: rotate(0deg); }
}
.monkey .eye{
	width: 47px;
	height: 47px;
	background: url(eye.png) no-repeat;
	position: absolute;
	top: 86px;
	left: 46px;
	-webkit-animation: eyedown .3s ease-out 0s forwards;
	animation        : eyedown .3s ease-out 0s forwards;
}
.monkey.eye-up .eye{
	-webkit-animation: eyeup .6s ease-out .5s forwards;
	animation        : eyeup .6s ease-out .5s forwards;
}
.monkey .eye-r{
	left: auto;
	right: 50px;
}
.ds-login{
	position: absolute;
	top: -53px;
	left: 50%;
	margin-left: -150px;
	height: 65px;
	width: 300px;
	z-index: 22;
}
.ds-login .hand{
	position: absolute;
	top: 41px;
	left: 15px;
	width: 40px;
	height: 24px;
	background: url(hand.png) center center no-repeat;
	-webkit-transform : scaleY(0.6);
	-moz-transform    : scaleY(0.6);
	-o-transform      : scaleY(0.6);
	-ms-transform     : scaleY(0.6);
	transform         : scaleY(0.6);
	-webkit-transition: 0.3s ease-out;
	-moz-transition   : 0.3s ease-out;
	-o-transition     : 0.3s ease-out;
	-ms-transition    : 0.3s ease-out;
	transition        : 0.3s ease-out;
	z-index: 1;
}
.ds-login .hand-r{
	left: auto;
	right: 15px;
}
.ds-login.password .hand{
	-webkit-transform: translateX(70px) translateY(-15px) scale(0.7);
	-moz-transform   : translateX(70px) translateY(-15px) scale(0.7);
	-o-transform     : translateX(70px) translateY(-15px) scale(0.7);
	-ms-transform    : translateX(70px) translateY(-15px) scale(0.7);
	transform        : translateX(70px) translateY(-15px) scale(0.7);
}
.ds-login.password .hand.hand-r{
	-webkit-transform: translateX(-70px) translateY(-15px) scale(0.7);
	-moz-transform   : translateX(-70px) translateY(-15px) scale(0.7);
	-o-transform     : translateX(-70px) translateY(-15px) scale(0.7);
	-ms-transform    : translateX(-70px) translateY(-15px) scale(0.7);
	transform        : translateX(-70px) translateY(-15px) scale(0.7);
}
.ds-login .arms{
	width: 100%;
	height: 41px;
	position: absolute;
	top: 12px;
	overflow: hidden;
	z-index: 2;
}
.arms .arm{
	position: absolute;
	width: 40px;
	height: 65px;
	position: absolute;
	left: 20px;
	top: 41px;
	background: url(arms.png) center center no-repeat;
	overflow: hidden;
	-webkit-transition: 0.3s ease-out;
	-moz-transition   : 0.3s ease-out;
	-o-transition     : 0.3s ease-out;
	-ms-transition    : 0.3s ease-out;
	transition        : 0.3s ease-out;
	-webkit-transform: rotate(-20deg);
	-moz-transform   : rotate(-20deg);
	-o-transform     : rotate(-20deg);
	-ms-transform    : rotate(-20deg);
	transform        : rotate(-20deg);
}
.ds-login .arm-r{
	left: auto;
	right: 20px;
	-webkit-transform: rotate(20deg) scaleX(-1);
	-moz-transform   : rotate(20deg) scaleX(-1);
	-o-transform     : rotate(20deg) scaleX(-1);
	-ms-transform    : rotate(20deg) scaleX(-1);
	transform        : rotate(20deg) scaleX(-1);
}
.ds-login.password .arms .arm{
	-webkit-transform: translateY(-40px) translateX(70px);
	-moz-transform   : translateY(-40px) translateX(70px);
	-o-transform     : translateY(-40px) translateX(70px);
	-ms-transform    : translateY(-40px) translateX(70px);
	transform        : translateY(-40px) translateX(70px);
}
.ds-login.password .arms .arm.arm-r{
	-webkit-transform: translateY(-40px) translateX(-70px) scaleX(-1);
	-moz-transform   : translateY(-40px) translateX(-70px) scaleX(-1);
	-o-transform     : translateY(-40px) translateX(-70px) scaleX(-1);
	-ms-transform    : translateY(-40px) translateX(-70px) scaleX(-1);
	transform        : translateY(-40px) translateX(-70px) scaleX(-1);
}
/* fade */
@keyframes fade{
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes fade{
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
.form-error-tips{
	width: 310px;
	height: 200px;
	position: absolute;
	left: 50%;
	margin-left: 138px;
	top: -181px;
	color: #fff;
	z-index: 23;
	background: url(tip_bg.png) no-repeat;
	display: none;
}
.form-error-tips.fade{
	display: block;
	-webkit-animation: fade 1s linear 0s forwards;
	animation        : fade 1s linear 0s forwards;
}
.form-error-tips h3{
	font-weight: normal;
	font-size: 16px;
	position: absolute;
	left: 105px;
	top: 34px;
}
.form-error-tips ol{
	font-size: 12px;
	position: absolute;
	left: 45px;
	top: 65px;
	margin-left: 20px;	
}
.form-error-tips ol li{
	list-style: decimal;
}

#footer{margin-top: 0;}