<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>大圣游戏 - 再赢一次</title>
<link rel="stylesheet" href="css/css.css">
</head>
<body>

<div class="banner">
	<h1 class="seo-txt">大圣游戏 - 再赢一次</h1>
	<p class="seo-txt">假如上天 再给你一次机会 你是否 会放下过去 与大圣一起踏上取金之旅</p>
</div>

<div class="content">
	<div class="section section_1">
		<h2 class="seo-txt">尊敬的贵宾，您好！</h2>
		<p class="seo-txt">大圣游戏将于2015年5月中旬正式开业，届时请您继续访问此网址，即可申请大圣游戏总代，我们还会提供诸多优惠活动及扶持计划，感谢您的关注～</p>
		<p class="seo-txt">大圣游戏祝您生活愉快，财源滚滚！</p>
	</div>
</div>

<div class="footer">
	<div class="cont">
		<p>2015 Copyright © Genting Palace Interactive Network Technology Co., Ltd.</p>
	</div>
</div>

</body>
</html>